.getInTouchContainer {
  background-color: hsla(211, 82%, 5%, 0.95);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linksRow {
  display: flex;
  flex-direction: row;
}

.getInTouchContainer > a {
  transition: color 400ms;
}

.getInTouchContainer > a:hover {
  color: rgb(117, 182, 250);
}

.linksContainer {
  margin: 2.5rem;
  display: flex;
  flex-direction: row;
}

.linksContainer > .linksRow > a {
  margin-right: 1rem;
}

@media (max-width: 550px) {
  .linksContainer {
    flex-direction: column;
  }

  .linksContainer > .linksRow:nth-child(2) {
    margin-top: 1rem;
  }

  .linksContainer > .linksRow > a:nth-child(2) {
    margin-right: 0px;
  }
}
