.RoundedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1f22;
    border-radius: 50px;
    color: #fff;
    padding: 0px 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.text.MuiTypography-overline {
    font-weight: 600;
}