.carousel {
  width: 70vw;
  height: 70vw;
  margin: 1rem;
}

.viewedCarouselItem {
  position: initial !important;
  width: 100% !important;
  height: 80% !important;
  object-fit: contain;
}

.carouselPicker {
  position: relative;
  width: 100%;
  height: calc(20% - 1rem);
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.carouselPickerArrow {
  color: white;
}

.disabled {
  filter: brightness(0.7);
}

.disabled:hover {
  cursor: auto;
}

.enabled {
  transition: color 400ms;
}

.enabled:hover {
  cursor: pointer;
  color: rgb(117, 182, 250);
}

.carouselItemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.carouselItemsContainer > div {
  position: initial !important;
  width: 25%;
  height: 100%;
  background-color: black;
}

.carouselItemsContainer > div > img {
  position: initial !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  filter: brightness(0.3);
}

.carouselItemsContainer > div > svg {
  position: relative;
  bottom: 83%;
  left: 28%;
  filter: brightness(0.3);
}

.carouselItemsContainer > div > img:hover {
  cursor: pointer;
  filter: brightness(1);
}

.selectedCarouselItem {
  filter: brightness(1) !important;
  cursor: auto !important;
}

.selectedCarouselItem + svg {
  filter: brightness(1) !important;
  cursor: auto !important;
}
