#navBar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(4, 22, 41, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5vw;
  color: white;
  z-index: 2;
}

.navBrand {
  font-size: 28px;
  color: inherit;
  background-color: transparent;
  border: none;
}

.navLinkBtn,
.navMenuBtn,
.navBrand {
  transition: color 400ms;
}

.navLinkBtn:hover,
.navMenuBtn:hover,
.navBrand:hover {
  color: rgb(117, 182, 250);
}

.navLinkBtn:hover,
.navMenuBtn:hover,
.navBrand:hover {
  cursor: pointer;
}

.navLinkBtn {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  padding: 0px;
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.getInTouchBtn > a {
  margin-left: 8px;
}

.navMenuBtn {
  padding-top: 8px;
  background-color: transparent;
  border: none;
}

.drawerOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.drawer {
  width: 200px;
  height: 100%;
  background-color: hsl(211, 82%, 15%);
  color: white;
  animation-name: slideleft;
  animation-duration: 500ms;
}

.backdropBtn {
  background-color: black;
  opacity: 0.7;
  flex-grow: 1;
}

@keyframes slideleft {
  from {
    width: 0px;
  }

  to {
    width: 200px;
  }
}

@media (max-width: 1350px) {
  .navBrand {
    font-size: 22px;
  }

  .navLinkBtn,
  #navBar > ul > li:nth-child(3) > a > button {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .navMenuBtn {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  #navList {
    display: none;
  }

  .navLinkBtn {
    width: 100%;
    justify-content: flex-start;
    font-size: 16px !important;
  }
}
