html {
    font-family: Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #293B5F;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    justify-self: right;
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #293B5F;
}

footer h3 {
    color: white;
}

header h1 {
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #385183;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0px;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    padding: 20px 10px;
    margin-left: 0px;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul li a {
    text-decoration: none;
    padding: 20px 0px;
}

nav ul li a:link,
 nav ul li,
 nav ul li a:visited {
    color: white;
}

#socials-header {
    font-weight: 900;
}

main {
    display: flex;
    flex-direction: row;
}

#about-me {
    width: 65%;
}

#feature-project {
    width: 35%;
    border-left: 1px solid black;
    box-sizing: border-box;
}

.nav-button:hover {
    font-weight: 900;
    font-size: 20px;
}

.nav-img:hover {
    height: 36px;
    width: 36px;
}

@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        justify-content: center;
    }

    main {
        flex-direction: column;
    }

    #about-me, #feature-project {
        width: 100%;
    }
}