html {
    font-family: 'Ubuntu', Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #293B5F;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #293B5F;
}

footer h4 {
    color: white;
}

header h1 {
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #385183;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0px;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    padding: 20px 10px;
    margin-left: 0px;
    text-transform: uppercase;
    font-size: 14px;
}

a {
    text-decoration: none;
}

nav ul li a {
    padding: 20px 0px;
}

nav ul li a:link,
 nav ul li,
 nav ul li a:visited {
    color: white;
}

#socials-header {
    font-weight: 900;
}

main {
    display: flex;
    flex-direction: column;
}

#about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 10px 5px 10px;
    background-image: linear-gradient(#191919, #293B5F, #385183);
}

#about-me img {
    width: 150px;
    margin-top: 10px;
    margin-left: 10%;
}

#about-me p {
    flex: 1;
    font-size: 18px;
    margin-right: 10%;
    margin-left: 10px;
    color: #F0F0F0;
    font-style: italic;
    font-weight: 700;
}

.circular-border {
    border-radius: 50%;
}


#feature-project {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 5px 10px;
}

#feature-project h2 {
    padding: 0;
    margin: 10px 0px;
}

#feature-project img {
    margin-bottom: 10px;
}

.nav-button:hover {
    font-weight: 900;
    font-size: 20px;
}

.nav-img:hover {
    height: 36px;
    width: 36px;
}

.no-spaces {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        justify-content: center;
    }

    main {
        flex-direction: column;
    }

    #feature-project {
        justify-content: center;
        align-items: center;
    }

    #feature-project img {
        width: 400px;
    }

    #about-me {
        flex-direction: column;
    }

    #about-me img {
        width: 300px;
        margin-left: 10px;
    }

    #about-me p {
        margin-right: 10px;
    }
}

@media screen and (max-width: 800px) {

}